plugin.tx_monkeyhead_api {
  settings {
    tables {
      tt_content {

        selection {
          defaults {
            sys_language_uid {
              value = 0
              type = 1
            }
          }
        }

        group_by = section
        order_by = sorting

        mapping {
          uid {
            type = int
          }
          header {
            type = string
          }
          subheader {
            type = string
          }
          bodytext {
            type = string
            parse = 1
          }
          image {
            type = images
            properties = uid, title, description, alternative
          }
          CType {
            type = string
          }
          list_type {
            type = string
          }
          pi_flexform {
            type = flexform
            as = flexform
            omit = 1
          }
          sorting {
            type = int
          }
          colpos {
            type = int
            mapStatic {
              0 = main
              10 = header
            }
            as = section
          }
        }
      }
    }
  }
}
