plugin.tx_monkeyhead_api {
  settings {
    tables {
      tt_content {
        rendering {
          __news {

            matching {
              CType = list
              list_type = news_pi1
            }

            renderer = Lfda\Monkeyhead\Adaptors\News\NewsRenderer

            options {
              table = tx_news_domain_model_news
              mapping {
                uid {
                  type = int
                }
                title {
                  type = string
                }
                teaser {
                  type = string
                }
                author {
                  type = string
                }
                datetime {
                  type = pass
                }
                bodytext {
                  type = string
                }
                pathSegment {
                  type = string
                }
                fal_media {
                  type = images
                  as = images
                  properties = uid, title, description, alternative
                }
                contentElements {
                  type = children
                  as = contents
                  table = tt_content
                  mapping < plugin.tx_monkeyhead_api.settings.tables.tt_content.mapping
                }
              }
            }
          }
        }
      }
    }
  }
}
